<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<style>
    td, th {
        padding: 0 20px;
        text-align: center;
    }
    
    table, tbody{
    	border:1px solid black;
    
    }
</style>
</head>
<body>
	<div class="container" style="width:600px">
	  <h4 style="color: green">Usuario logado: <span th:text="${usuarioLogado.nome}"></span></h4>	
	  <h1>Cadastro de Contatos</h1>
 
      <form class="form-signin" th:action="@{/cadastraContato}" method="POST">
        <label for="nome">Nome</label>:
        <input type="text" name="nome" class="form-control"/>
        <label for="sobreNome">Sobre Nome</label>:
        <input type="text" name="sobreNome" class="form-control"/>
        <label for="email">E-mail</label>:
        <input type="text" name="email" class="form-control"/>
        <label for="telefone">Telefone</label>:
        <input type="text" name="telefone" class="form-control"/>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
      </form>
	  <h5 style="color: blue"><a href="usuario">+ CADASTRAR USUARIO </a></h5>
	  <table>
	    <thead>
	      <tr>
	        <th>Nome</th>
	        <th>Sobre Nome</th>
	        <th>E-mail</th>
	        <th>Telefone</th>
	      </tr>
	    </thead>
	    <br/>
	    <tbody>
	      <tr th:each="contato: ${contatos}">
	        <td th:text="${contato.nome}"></td>
	        <td th:text="${contato.sobreNome}"></td>
	        <td th:text="${contato.email}"></td>
	        <td th:text="${contato.telefone}"></td>
	        <td> <a style="color: red" href="deletarContato">Excluir</a> </td>
	      </tr>
	    </tbody>
	  </table>
   </div>
</body>
</html>