<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	</head>
	<body>
	    <div class="container" style="width:500px">
	      <form class="form-signin" action="cadastraUsuario" method="POST">
	        <h2 class="form-signin-heading">Cadastrar usuario</h2>
	        <label for="login">Login:</label> <input type="text" name="login" class="form-control" placeholder="Usuario"/>
	        <label for="nome">Nome:</label><input type="text" name="nome" class="form-control" placeholder="Nome"/>
	        <label for="senha">Senha:</label><input type="password" name="senha" class="form-control" placeholder="Senha"/>
	        <label for="perfil">Perfil:</label>
	        <select class="form-control" name="perfil">
	        	<option value="Administrador">Administrador</option>
			  	<option value="Usuario">Usuario</option>
	        </select>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>
	
	    </div>
    
	</body>
</html>